<div class="header_user_search">
    <div class="grid header_user_search_content">
        <div class="header_user_search_content-box">
            <i class="grid header_user_search_content-icon-1 fa-solid fa-house"></i>
        </div>
        <a href="/" class="header_user_search_content-link" style="text-decoration: none;">
            Trang chủ
        </a>
        <div class="header_user_search_content-box">
            <i class="header_user_search_content-icon-2 fa-solid fa-chevron-right"></i>
        </div>
        <div class="header_user_search_content-box">
            <p class="header_user_search_content-box-text">Kết quả tìm kiếm cho: '{{value}}' </p>
        </div>
    </div>
</div>


<div class="grid">
    <div class="content-home">
        <div class="content">
            <div class="content__body">
                {{#each data}}
                <div class="content__body-box grid__column-1_8">
                    <div class="content__body-box-sale">
                        <p class="content__body-box-text">Giảm {{this.GiaSale}} %</p>
                    </div>
                    <a href="#" class="content__body-box-link" style="text-decoration: none;">
                        <div class="content__body-box-link-block">
                            <img src="{{this.Anh}}" alt="" class="content__body-box-img">
                        </div>
                        <h3 class="content__body-box-heading">{{this.TenSP}}</h3>
                        <div class="content__body-box-price">
                            <p class="content__body-box-price-show">{{this.GiaBan}}0.000₫</p>
                            <div class="content__body-box-price-through">{{this.GiaGoc}}0.900₫</div>
                        </div>
                        <div class="content__body-box-smem">
                            Smember giảm thêm đến
                            <span>136.000₫</span>
                        </div>
                        <div class="content__body-box-promotion">
                            <p class="content__body-box-promotion-des">Không phí chuyển đổi khi trả góp 0% qua thẻ tín
                                dụng
                                kỳ hạn 3-6 tháng</p>
                        </div>
                    </a>
                    <button class="add-to-cart-btn" data-id="{{this.ID}}">
                        Thêm vào giỏ hàng
                        <i class="add-to-cart-btn-icon fa-solid fa-cart-shopping"></i>
                    </button>

                    <div class="content__body-box-review">
                        <div class="content__body-box-review-rating">
                            <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                            <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                            <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                            <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                            <i class="content__body-box-review-rating-icon fa-solid fa-star"></i>
                        </div>
                        <div class="content__body-box-review-wish">
                            <span class="content__body-box-review-heading">Yêu thích</span>
                            <i class="content__body-box-review-icon fa-solid fa-heart"></i>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/js/cartadd.js" defer ></script>
<script src="/js/main.js" defer></script>